In [1]:
import sqlite3
import json
from datetime import datetime

In [ ]:
timeframe = '2015-01'
sql_transaction = []
# {} will be replaced by what is given inside format
connection = sqlite3.connect('{}.db'.format(timeframe))
# Used to initialise SQL
c = connection.cursor()

def create_table():
    c.execute("""CREATE TABLE IF NOT EXISTS parent_reply
    (parent_id TEXT PRIMARY KEY, comment_id TEXT UNIQUE, parent TEXT, 
    comment TEXT, subreddit TEXT, unix INT, score INT)""")

def format_data(data):
    data = data.replace("\n", " newlinechar ").replace("\r", " newlinechar ").replace('"', "'")
    return data

def find_existing_score(pid):
    try:
        sql = "SELECT score FROM parent_reply WHERE parent_id = '{}' LIMIT 1".format(pid)
        c.execute(sql)
        result = c.fetchone()
        if result != None:
            return result[0]
        else:
            return False
    except Exception as e:
        #print("find_parent", e)
        return false

def acceptable(data):
    if len(data.split(' ')) > 50 or len(data) < 1:
        return False
    elif len(data) > 1000:
        return False
    elif data == '[deleted]' or data == '[removed]':
        return False
    else:
        return True

def find_parent(pid):
    try:
        sql = "SELECT comment FROM parent_reply WHERE comment_id = '{}' LIMIT 1".format(pid)
        c.execute(sql)
        result = c.fetchone()
        if result != None:
            return result[0]
        else:
            return False
    except Exception as e:
        #print("find_parent", e)
        return false
def transaction_bldr(sql):
    global sql_transaction
    sql_transaction.append(sql)
    if len(sql_transaction) > 1000:
        c.execute('BEGIN TRANSACTION')
        for s in sql_transaction:
            try:
                c.execute(s)
            except:
                pass
            connection.commit()
            sql_transaction = []
  
def sql_insert_replace_comment(commentid,parentid,parent,comment,subreddit,time,score):
    try:
        sql = """UPDATE parent_reply SET parent_id = ?, comment_id = ?, parent = ?, comment = ?, subreddit = ?, unix = ?, score = ? WHERE parent_id =?;""".format(parentid, commentid, parent, comment, subreddit, int(time), score, parentid)
        transaction_bldr(sql)
    except Exception as e:
        print('s0 insertion',str(e))

def sql_insert_has_parent(commentid,parentid,parent,comment,subreddit,time,score):
    try:
        sql = """INSERT INTO parent_reply (parent_id, comment_id, parent, comment, subreddit, unix, score) VALUES ("{}","{}","{}","{}","{}",{},{});""".format(parentid, commentid, parent, comment, subreddit, int(time), score)
        transaction_bldr(sql)
    except Exception as e:
        print('s0 insertion',str(e))

def sql_insert_no_parent(commentid,parentid,comment,subreddit,time,score):
    try:
        sql = """INSERT INTO parent_reply (parent_id, comment_id, comment, subreddit, unix, score) VALUES ("{}","{}","{}","{}",{},{});""".format(parentid, commentid, comment, subreddit, int(time), score)
        transaction_bldr(sql)
    except Exception as e:
        print('s0 insertion',str(e))

    
# If executed directly
if __name__ == '__main__':
    create_table()
    #video 3
    row_counter = 0
    paired_rows = 0
    # Opening file, uses buffering since it is a big file
    with open("E:\ML\OnlineProjects\Deep learning\Chatbot\RC_{}\RC_{}".format(timeframe, timeframe), buffering=1000) as f:
        for row in f:
            row_counter += 1
            # Loads function convert from json to python format dumps does the opposite
            row = json.loads(row)
            parent_id = row['parent_id']
            comment_id = row['name']
            body = format_data(row['body'])
            created_utc = row['created_utc']
            score = row['score']
            subreddit = row['subreddit']            
            parent_data = find_parent(parent_id)
            
            if score >= 2:
                if acceptable(body):
                    existing_comment_score = find_existing_score(parent_id)
                    if existing_comment_score:
                        if score > existing_comment_score:
                            sql_insert_replace_comment(comment_id, parent_id, parent_data, body, subreddit, created_utc, score)
                else:
                    if parent_data:
                        sql_insert_has_parent(comment_id, parent_id, parent_data, body, subreddit, created_utc, score)
                        paired_rows += 1
                    else:
                        sql_insert_no_parent(comment_id, parent_id, body, subreddit, created_utc, score)
            
            if row_counter % 100000 == 0:
                print("Total rows read: {}, Paired rows: {}, Time: {}".format(row_counter, paired_rows, str(datetime.now())))

Total rows read: 100000, Paired rows: 282, Time: 2017-12-12 12:11:36.555133
Total rows read: 200000, Paired rows: 783, Time: 2017-12-12 12:32:39.978477
Total rows read: 300000, Paired rows: 1391, Time: 2017-12-12 12:51:39.378391
Total rows read: 400000, Paired rows: 2037, Time: 2017-12-12 13:10:36.434451
Total rows read: 500000, Paired rows: 2713, Time: 2017-12-12 13:29:45.190336
Total rows read: 600000, Paired rows: 3440, Time: 2017-12-12 13:47:46.678800
Total rows read: 700000, Paired rows: 4293, Time: 2017-12-12 14:09:57.260470
Total rows read: 800000, Paired rows: 5240, Time: 2017-12-12 14:31:31.929177
Total rows read: 900000, Paired rows: 6207, Time: 2017-12-12 14:53:11.239119
Total rows read: 1000000, Paired rows: 7066, Time: 2017-12-12 15:10:48.120874
Total rows read: 1100000, Paired rows: 7990, Time: 2017-12-12 15:28:16.494157
Total rows read: 1200000, Paired rows: 8823, Time: 2017-12-12 15:46:20.467791
Total rows read: 1300000, Paired rows: 9703, Time: 2017-12-12 16:05:39.589019
Total rows read: 1400000, Paired rows: 10574, Time: 2017-12-12 16:23:03.500916
Total rows read: 1500000, Paired rows: 11443, Time: 2017-12-12 16:41:02.535226
Total rows read: 1600000, Paired rows: 12276, Time: 2017-12-12 16:58:09.787315
Total rows read: 1700000, Paired rows: 13051, Time: 2017-12-12 17:18:45.263702
Total rows read: 1800000, Paired rows: 13914, Time: 2017-12-12 17:35:56.457177
Total rows read: 1900000, Paired rows: 14755, Time: 2017-12-12 17:51:04.330444
Total rows read: 2000000, Paired rows: 15701, Time: 2017-12-12 18:11:43.479798
Total rows read: 2100000, Paired rows: 16670, Time: 2017-12-12 18:34:19.174530
Total rows read: 2200000, Paired rows: 17707, Time: 2017-12-12 18:55:28.704435
Total rows read: 2300000, Paired rows: 18804, Time: 2017-12-12 19:25:55.626211
Total rows read: 2400000, Paired rows: 20045, Time: 2017-12-12 19:53:54.335011
Total rows read: 2500000, Paired rows: 21311, Time: 2017-12-12 20:19:20.799632
Total rows read: 2600000, Paired rows: 22618, Time: 2017-12-12 20:43:46.671733
Total rows read: 2700000, Paired rows: 23825, Time: 2017-12-12 21:05:08.636592
Total rows read: 2800000, Paired rows: 25008, Time: 2017-12-12 21:26:20.100199
Total rows read: 2900000, Paired rows: 26140, Time: 2017-12-12 21:47:32.098653
Total rows read: 3000000, Paired rows: 27252, Time: 2017-12-12 22:06:39.849715
Total rows read: 3100000, Paired rows: 28314, Time: 2017-12-12 22:28:27.377872
Total rows read: 3200000, Paired rows: 29309, Time: 2017-12-12 22:47:37.478488
Total rows read: 3300000, Paired rows: 30315, Time: 2017-12-12 23:06:26.751130
Total rows read: 3400000, Paired rows: 31261, Time: 2017-12-12 23:26:12.564835
Total rows read: 3500000, Paired rows: 32131, Time: 2017-12-12 23:44:45.575925
Total rows read: 3600000, Paired rows: 33074, Time: 2017-12-13 00:01:47.149243
Total rows read: 3700000, Paired rows: 34038, Time: 2017-12-13 00:21:25.729728
Total rows read: 3800000, Paired rows: 34978, Time: 2017-12-13 00:42:41.600245
Total rows read: 3900000, Paired rows: 35984, Time: 2017-12-13 01:04:04.350928
Total rows read: 4000000, Paired rows: 37120, Time: 2017-12-13 01:23:52.846832
Total rows read: 4100000, Paired rows: 38302, Time: 2017-12-13 01:44:34.011435
Total rows read: 4200000, Paired rows: 39425, Time: 2017-12-13 02:05:05.748471
Total rows read: 4300000, Paired rows: 40521, Time: 2017-12-13 02:23:42.816296
Total rows read: 4400000, Paired rows: 41524, Time: 2017-12-13 02:46:39.724843
Total rows read: 4500000, Paired rows: 42540, Time: 2017-12-13 03:05:44.437403
Total rows read: 4600000, Paired rows: 43490, Time: 2017-12-13 03:24:37.211221
Total rows read: 4700000, Paired rows: 44436, Time: 2017-12-13 03:40:46.751961
Total rows read: 4800000, Paired rows: 45327, Time: 2017-12-13 03:58:26.990840
Total rows read: 4900000, Paired rows: 46210, Time: 2017-12-13 04:17:39.459406
Total rows read: 5000000, Paired rows: 46969, Time: 2017-12-13 04:33:32.189098
Total rows read: 5100000, Paired rows: 47857, Time: 2017-12-13 04:52:20.597174
Total rows read: 5200000, Paired rows: 48836, Time: 2017-12-13 05:11:45.081417
Total rows read: 5300000, Paired rows: 49839, Time: 2017-12-13 05:30:49.964922
Total rows read: 5400000, Paired rows: 50838, Time: 2017-12-13 05:50:20.774259
Total rows read: 5500000, Paired rows: 51903, Time: 2017-12-13 06:11:46.225095
Total rows read: 5600000, Paired rows: 52923, Time: 2017-12-13 06:36:21.895571
Total rows read: 5700000, Paired rows: 54038, Time: 2017-12-13 06:57:07.959990
Total rows read: 5800000, Paired rows: 55134, Time: 2017-12-13 07:18:18.790055
Total rows read: 5900000, Paired rows: 56177, Time: 2017-12-13 07:36:48.101231
Total rows read: 6000000, Paired rows: 57243, Time: 2017-12-13 07:55:36.759378
Total rows read: 6100000, Paired rows: 58222, Time: 2017-12-13 08:14:42.346766
Total rows read: 6200000, Paired rows: 59195, Time: 2017-12-13 08:34:06.931458
Total rows read: 6300000, Paired rows: 60153, Time: 2017-12-13 08:55:06.210359
Total rows read: 6400000, Paired rows: 61011, Time: 2017-12-13 09:11:51.269576
Total rows read: 6500000, Paired rows: 61927, Time: 2017-12-13 09:30:19.097569
Total rows read: 6600000, Paired rows: 62883, Time: 2017-12-13 09:48:49.831455
Total rows read: 6700000, Paired rows: 63867, Time: 2017-12-13 10:09:32.027489
Total rows read: 6800000, Paired rows: 64889, Time: 2017-12-13 10:29:07.079540
Total rows read: 6900000, Paired rows: 65928, Time: 2017-12-13 10:52:00.942763
Total rows read: 7000000, Paired rows: 67074, Time: 2017-12-13 11:13:50.066461
Total rows read: 7100000, Paired rows: 68118, Time: 2017-12-13 11:38:34.189837
Total rows read: 7200000, Paired rows: 69321, Time: 2017-12-13 12:00:15.241763
Total rows read: 7300000, Paired rows: 70605, Time: 2017-12-13 12:23:55.539981
Total rows read: 7400000, Paired rows: 71867, Time: 2017-12-13 12:47:03.507907
Total rows read: 7500000, Paired rows: 73245, Time: 2017-12-13 13:12:17.398327
Total rows read: 7600000, Paired rows: 74559, Time: 2017-12-13 13:41:14.810926
Total rows read: 7700000, Paired rows: 75872, Time: 2017-12-13 14:07:09.310079
Total rows read: 7800000, Paired rows: 77031, Time: 2017-12-13 14:28:52.585685
Total rows read: 7900000, Paired rows: 78178, Time: 2017-12-13 14:54:21.644070
Total rows read: 8000000, Paired rows: 79281, Time: 2017-12-13 15:15:29.616847
Total rows read: 8100000, Paired rows: 80381, Time: 2017-12-13 15:37:40.100529
Total rows read: 8200000, Paired rows: 81276, Time: 2017-12-13 15:55:39.147627
Total rows read: 8300000, Paired rows: 82126, Time: 2017-12-13 16:15:26.629026
Total rows read: 8400000, Paired rows: 82990, Time: 2017-12-13 16:33:14.945005
Total rows read: 8500000, Paired rows: 83911, Time: 2017-12-13 16:52:51.715011
Total rows read: 8600000, Paired rows: 84887, Time: 2017-12-13 17:11:58.435890
Total rows read: 8700000, Paired rows: 85903, Time: 2017-12-13 17:34:48.618225
Total rows read: 8800000, Paired rows: 86867, Time: 2017-12-13 17:54:13.760610
Total rows read: 8900000, Paired rows: 87892, Time: 2017-12-13 18:16:56.830205
Total rows read: 9000000, Paired rows: 89081, Time: 2017-12-13 18:40:33.824923
Total rows read: 9100000, Paired rows: 90359, Time: 2017-12-13 19:06:31.652186
Total rows read: 9200000, Paired rows: 91766, Time: 2017-12-13 19:36:37.582743
Total rows read: 9300000, Paired rows: 93104, Time: 2017-12-13 20:04:54.703217
Total rows read: 9400000, Paired rows: 94420, Time: 2017-12-13 20:29:02.022735
Total rows read: 9500000, Paired rows: 95715, Time: 2017-12-13 20:50:08.900530
Total rows read: 9600000, Paired rows: 97015, Time: 2017-12-13 21:16:58.284331
Total rows read: 9700000, Paired rows: 98359, Time: 2017-12-13 21:44:59.194130
Total rows read: 9800000, Paired rows: 99597, Time: 2017-12-13 22:08:27.349473
Total rows read: 9900000, Paired rows: 100748, Time: 2017-12-13 22:41:16.808435
Total rows read: 10000000, Paired rows: 101752, Time: 2017-12-13 23:05:17.534839
Total rows read: 10100000, Paired rows: 102681, Time: 2017-12-13 23:30:44.285182
Total rows read: 10200000, Paired rows: 103641, Time: 2017-12-14 00:17:38.873752
Total rows read: 10300000, Paired rows: 104623, Time: 2017-12-14 00:48:07.033983
Total rows read: 10400000, Paired rows: 105574, Time: 2017-12-14 01:10:15.925946

Total rows read: 10500000, Paired rows: 106552, Time: 2017-12-14 01:31:26.802305
Total rows read: 10600000, Paired rows: 107589, Time: 2017-12-14 01:52:50.833329